<% title t('assessment.instructor.titles.information') %>

<p class="message message--warning"><%= t 'assessment.instructor.messages.not_configured' %></p>

<%= link_to t('assessment.instructor.buttons.configure'), create_assessment_path, class: 'button button--create button--block' %>
