//
// Covers all pages associated with users that are not signed in, such as:
//
// - sign in
// - sign up
// - forgotten password
// - password reset
//

.wrapper--guest {
    max-width: $wrapper-guest-width;
    min-width: $wrapper-guest-width;
    margin: 100px auto;

    h1 {
        text-align: center;
    }
}

.formWrapper--guest {
    background-color: $light-gray;
    padding: $padding;
    border: 1px solid $dark-gray;
    border-radius: $border-radius;
}

.guestOptions {
    text-align: center;
    margin: $margin 0 0;

    ul {
        @extend .verticalMenu;
    }
}
