<div class="guestOptions">
  <ul>
    <%- if controller_name != 'sessions' %>
      <li><% if controller_name == 'passwords' %>Have you remembered your password?<% else %>Have an account?<% end %> <%= link_to 'Sign in', sign_in_path %></li>
    <% end -%>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <li>Don't have an account? <%= link_to 'Create an account', sign_up_path %></li>
    <% end -%>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <li>Forgotten your password? <%= link_to 'Reset your password', reset_password_request_path %></li>
    <% end -%>

    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <li>Didn't receive confirmation instructions? <%= link_to 'Have them resent', resend_confirmation_path %></li>
    <% end -%>
  </ul>
</div>
