<% title t('general.titles.error') %>
<% description t('general.descriptions.error') %>
<% back_path t('general.buttons.go_back'), root_path %>

<p class="message message--alert"><%= @message || t('general.errors.unknown') %></p>
