.box {
    border-radius: $border-radius;
    border: 1px solid $dark-gray;
    margin: 0 0 $margin;

    &.box--dark {
        background-color: $light-gray;
    }

    &> .box__title:first-child {
        border-top: none;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }
}

.box__title,
.box__content,
.box__rows {
    margin: 0;
}

.box__title {
    background-color: $gray;
    border-width: 1px 0;
    border-style: solid;
    border-color: $dark-gray;
    padding: $padding;

    .box__row__part {
        padding: 0;
        border: 0;
    }
}

.box__title__smallText {
    font-size: 1rem;
    font-weight: 100;
}

.box__content {
    padding: $padding;

    &.box__content--tabs {
        padding: 0;
    }
}

.box__content__output {
    max-height: 300px;
    overflow: auto;
    margin: 0;
    word-wrap: break-word;
}

.box__content--tabs {
    .tabs__nav,
    .tabs__button {
        border-width: 0 0 1px;
        border-style: solid;
        border-color: $dark-gray;
    }

    .tabs__nav {
        background-color: $light-gray;
        margin: 0 0 $margin;
        padding: 0;

        .tabs__button {
            margin: 0 0 0 -5px;
            list-style: none;
            display: inline-block;

            &:first-of-type {
                margin-left: 0;
            }
        }
    }

    .tabs__button {
        padding: $padding;
        border-width: 0 1px 0 0;
        cursor: pointer;

        &:hover {
            background-color: $gray;
        }

        &.tabs__button--active {
            background-color: $white;
            padding-bottom: $padding + 1;
            margin-bottom: -1px;
        }
    }

    .tabs__content {
        display: none;
        padding: 0 $padding $padding;

        &.tabs__content--active {
            display: block;
        }
    }
}

.box__rows {
    display: table;
    width: 100%;
}

.box__row {
    display: table-row;
    width: 100%;
    vertical-align: middle;

    &:nth-of-type(even) {
        background-color: $light-gray;
    }

    &:last-of-type .box__row__part {
        border: none;
    }

    &.box__row--small .box__row__part {
        padding: $padding / 3;
    }

    &.box__row--thirds .box__row__part {
        width: 33.3%;
    }

    &.box__row--warning {
        background-color: $warning;
    }
}

.box__row__part {
    padding: $padding;
    display: table-cell;
    border-bottom: 1px solid $dark-gray;
}

.box__actions {
    background-color: $light-gray;
    text-align: center;
    border-top: 1px solid $dark-gray;
    padding: $padding;

    a, button, input {
        @extend .button;
    }
}
