.button {
    @include fancy-bg-hover($primary);

    text-decoration: none;
    font-size: 1rem;
    line-height: 1.2rem;
    color: $white;
    padding: $padding $padding * 2;
    box-sizing: border-box;
    border-radius: $border-radius;
    display: inline-block;
    cursor: pointer;

    &:hover {
        color: $white;
    }

    &.button--create {
        @include fancy-bg-hover($secondary);
    }

    &.button--cancel {
        @include fancy-bg-hover($tertiary);
    }

    &.button--back {
        
    }

    &.button--disabled {
        @include fancy-bg($gray);
        color: #999;
        cursor: default;
    }

    &.button--block {
        text-align: center;
        display: block;
    }

    &.button--small {
        padding: $padding / 2 $padding;
    }
}
