.left, .right {
    width: 50%;
}

.left {
    float: left;
}

.left--withSpace {
    padding: 0 $margin 0 0;
    box-sizing: border-box;
}

.right {
    float: right;
}

.clearBoth {
    clear: both;
}
