.left, .right {
    box-sizing: border-box;
}

.left {
    float: left;

    &.left--thirty {
        width: 30%;
        padding-right: $padding / 2;
    }
}

.right {
    float: right;

    &.right--seventy {
        width: 70%;
        padding-left: $padding / 2;
    }
}

.clearBoth {
    clear: both;
}
