.formField {
    font-size: 1rem;
    border: 1px solid $dark-gray;
    border-radius: $border-radius;
    padding: $padding / 3;
    outline: none;

    &.formField--grade {
        text-align: center;
        width: 2rem;
    }

    &.formField--error {
        @include standard-bg($alert)
    }
}
