.formWrapper {
    
}

.formWrapper__errors {
    background-color: $alert;
    padding: $padding;
    margin: 0 0 $margin;
    border-radius: $border-radius;
}

.formWrapper__field {
    margin: 0 0 $margin;

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"] {
        font-size: 1rem;
        width: 100%;
        padding: $padding;
        border: 1px solid $dark-gray;
        border-radius: $border-radius;
        box-sizing: border-box;
        outline: none;
    }
}

.formWrapper__actions {
    text-align: center;

    button,
    input[type="button"],
    input[type="submit"] {
        @extend .button;
    }
}
