input[type="text"],
input[type="number"],
input[type="email"],
select,
textarea {
    font-size: 1rem;
    border: 1px solid $dark-gray;
    border-radius: $border-radius;
    padding: $padding / 3;
    box-sizing: border-box;
    outline: none;

    &.short {
        width: 128px;
    }

    &.grade {
        text-align: center;
        width: 32px;
    }

    &.error {
        @include standard-bg($alert)
    }
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
    width: 100%;
}
