.message {
    background-color: $light-gray;
    padding: $padding;
    margin: 0 0 $margin;
    border-radius: $border-radius;
}

.message--information {
    @include fancy-bg($information);
}

.message--notice {
    @include fancy-bg($notice);
}

.message--alert {
    @include fancy-bg($alert);
}

.message--warning {
    @include fancy-bg($warning);
}

.errorText {
    color: $error;
}
