@mixin fancy-bg ($color) {
	background-color: $color;
	border-width: 0 0 3px;
	border-style: solid;
	border-color: darken($color, 5%);
}

@mixin standard-bg ($color) {
    background-color: $color;
    border: 1px solid darken($color, 5%);
}

@mixin fancy-bg-hover ($color) {
	@include fancy-bg($color);

	&:hover {
		@include fancy-bg(darken($color, 2%));
	}	
}
