// Sizing

$wrapper-width: 1150px;

$globalHeader-height: 50px;
$globalSidebar-width: 250px;
$globalFooter-height: 40px;

$border-radius: 3px;

// Spacing

$padding: 10px;
$margin: 10px;

// Colors

$black: #000;
$white: #FFF;

$bronco-brown: #502500;
$bronco-gold: #EEB111;

$gray: #EDEDED;
$light-gray: lighten($gray, 5%);
$dark-gray: darken($gray, 5%);

$primary: #089DE3;
$secondary: #9C0;
$tertiary: #A00;

$background: $light-gray;

$information: #D9EDF7;
$notice: #DFF0D8;
$alert: #F2DEDE;
$warning: #FCF8E3;
