// Sizing

$wrapper-max-width: 1000px;
$wrapper-min-width: 960px;
$wrapper-guest-width: 500px;

$globalHeader-height: 75px;
$globalSidebar-width: 250px;
$globalFooter-height: 40px;

$border-radius: 3px;

// Spacing

$padding: 10px;
$margin: 12px;

// Colors

$black: #000;
$white: #FFF;

$gray: #EDEDED;
$light-gray: lighten($gray, 5%);
$dark-gray: darken($gray, 5%);

$primary: #525564;
$secondary: #74828F;
$tertiary: #96C0CE;

$background: $white;

$information: #D9EDF7;
$notice: #DFF0D8;
$alert: #F2DEDE;
$warning: #FCF8E3;
