@import 'variables', 'mixins', 'partials';

html {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.3rem;
    height: 100%;
}

body {
    background-color: $background;
    font-family: Helvetica, 'Sans Serif';
    font-weight: 200;
    margin: 0;
}

// Wrapper

.wrapper {
    width: $wrapper-width;
    margin: 0 auto !important;
}

// Typography

h1, h2, h3 {
    font-weight: 400;
    margin: 0 0 $margin;
    padding: 0;
}

h1 {
    font-size: 2.2rem;
    line-height: 2.3rem;
}

h2 {
    font-size: 1.9rem;
    line-height: 2rem;
}

h3 {
    font-size: 1.6rem;
}

a {
    color: $black;

    &:hover {
        text-decoration: none;
    }
}

p {
    margin: 0 0 $margin;
}

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}

*:last-child {
    margin-bottom: 0;
}

// Global Header

.globalHeader {
    background-color: $primary;
    color: $white;
    padding: 0 $padding;
    margin: 0 0 $margin;
}

#globalHeader__flash {
    min-width: 500px;
    margin: ($globalHeader-height / 2) - ($padding * 2) 0 0;
    float: right;
    display: none;
}

.globalHeader__welcome {
    line-height: $globalHeader-height;
    float: right;
}

.globalHeader__branding {
    line-height: $globalHeader-height;
    font-size: 1.5rem;
}

.userOptions {
    float: right;

    ul {
        @extend .horizontalMenu;
    }
}

// Primary Content

.primaryContent {
    background-color: $white;
    padding: $padding;
    border-radius: $border-radius;
    border: 1px solid $dark-gray;
}

.pageDescription {
    background-color: $background;
    margin: 0 -1 * $padding $margin;
    padding: $padding;
    border-style: solid;
    border-color: $dark-gray;
    border-width: 1px 0;
}

// Global Footer

.globalFooter {
    text-align: center;
    padding: $padding 0;
    box-sizing: border-box;
}

// Bootstrap

.btn:focus {
	outline:none !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.modal {
	text-align: center;
}

.modal-dialog {
	margin-top: 1%;
	width: 80%;
	display: inline-block;
	vertical-align: middle;
}

@import 'pages';
