@import 'variables', 'mixins', 'partials';

html {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.3rem;
    height: 100%;
}

body {
    background: $background;
    font-family: Helvetica, 'Sans Serif';
    font-weight: 200;
    margin: 0;
}

// Wrapper

.wrapper {
    max-width: $wrapper-max-width;
    min-width: $wrapper-min-width;
    margin: 0 auto;
}

// Typography

h1, h2, h3 {
    font-weight: 300;
    margin: 0 0 $margin;
    padding: 0;
}

h1 {
    font-size: 2.2rem;
    line-height: 2.3rem;
}

a {
    color: $black;

    &:hover {
        text-decoration: none;
    }
}

p {
    margin: 0 0 $margin;
}

// Notices and alerts

.notice {
    background-color: $notice;
    padding: $padding;
    margin: 0 0 $margin;
    border-radius: $border-radius;
}

// Global Header

.globalHeader {
    background-color: $light-gray;
    padding: 0 $padding;

    &, .globalHeader__branding {
        line-height: $globalHeader-height;
    }
}

.globalHeader__branding {
    font-size: 2.5rem;
}

.userOptions {
    float: right;

    ul {
        @extend .horizontalMenu;
    }
}

// Global Navigation

.globalNavigation {
    ul {
        @extend .verticalMenu;

        li {
            text-decoration: none;
            padding: ($padding / 2) + 4px $padding + 2px;
            margin: 0 -1 * ($padding + 2px) $margin 0;

            &.active {
                background-color: $white;
                padding: $padding / 2 $padding;
                border: 2px solid $dark-gray;
                border-right: none;
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
            }
        }

        a {
            text-decoration: none;
        }
    }
}

// Sidebar and Content

.globalSidebar,
.primaryContent {
    padding: $padding;
    box-sizing: border-box;
    position: absolute;
    top: $globalHeader-height;
    bottom: $globalFooter-height;
}

.globalSidebar {
    background-color: $gray;
    width: $globalSidebar-width;
    border-right: 2px solid $dark-gray;

}

.primaryContent {
    border-bottom: 2px solid $dark-gray;
    left: $globalSidebar-width;
    right: 0;
    overflow: scroll;
}

// Global Footer

.globalFooter {
    background-color: $gray;
    text-align: center;
    height: $globalFooter-height;
    padding: $padding 0;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

@import 'pages';
