<% title t('assessment.instructor.titles.not_configured') %>

<p class="message message--warning"><%= t 'assessment.instructor.messages.not_configured' %></p>

<%= link_to t('assessment.instructor.buttons.configure'), root_path, class: 'button button--create button--block' %>
