<footer class="globalFooter">
  <div class="wrapper">
    <p>Online Courses &mdash; Department of Computer Science &mdash; Western Michigan Univerisity</p>
    <p>Current Time: <%= l Time.current, format: :general %></p>
  </div>
</footer>
