<footer class="globalFooter">
  <div class="wrapper">
    <p>Current Time: <%= l Time.current, format: :general %></p>
    <p class="credits">Created by Alec Carpenter, Cody Beebe, and Joshua Klingler (Senior Design 2015-2016)<br />for the Department of Computer Science at Western Michigan Univerisity.</p>
  </div>
</footer>
