<ul>
  <% globalNavLinks.each do |link| %>
    <li <% if link[:controllers].include? controller_name %>class="active"<% end %>><%= link[:anchor] %></li>
  <% end %>
  <li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></li>
</ul>
