<header class="globalHeader">
  <div class="wrapper">
    <% if @session and not @session.user.nil? %>
      <div class="globalHeader__welcome"><%= t 'general.messages.greeting', who: @session.user.first_name %></div>
    <% end %>
    <div class="globalHeader__branding">Online Courses</div>
  </div>
</header>