<% content_for :header do %>
  <header></header>
<% end %>

<% content_for :content do %>
  <div class="wrapper wrapper--guest">
    <%= render 'layouts/partials/title' %>
    <%= render 'layouts/partials/flashes' %>
    <%= yield %>
  </div>
<% end %>

<%= render template: 'layouts/application.html.erb' %>
